@model List<PolicyModel> 
@{
    ViewData["Title"] = "Policy Summary";
}

<h1>Policy summary</h1>

<br/>

@if (Model.Count > 0) {
    
    <table class="table table-bordered">
    
        <thead>
        <tr class="border-top-0">
            <th class="border-top">Serial Number</th>
            <th class="border-top">Insurer Name</th>
            <th class="border-top">Policy Type</th>
            <th class="border-top">Start Date</th>
            <th class="border-top">End Date</th>
            <th class="border-top">Premium Amount</th>
            <th class="border-0"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var policy in Model) {
            <tr>
                <td>@policy.serialNumber</td>
                <td>@policy.insurerName</td>
                <td>@policy.policyType</td>
                <td>@policy.startDate.ToString("dd.MM.yyyy")</td>
                <td>@policy.endDate.ToString("dd.MM.yyyy")</td>
                <td>@policy.premiumAmount</td>
                <td><a class="btn btn-primary border-top m-auto" href="/Home/Edit/@policy.Id">Edit</a></td>
            </tr>
        }
        </tbody>
    
    </table>
    
}

